*{
    margin: 0px;
    padding: 0px;
}
.menu-contant{
    background-color: lightsteelblue;
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav li > a{
    color: white;
   margin-right: 10px; 
   padding: 10px;
   text-decoration: none;
    
}
li:hover{
    background-color: wheat;
}

.menu{
    display: flex;
    font-size: 26px;
}